nav {
    text-align: center;
}

header {
    background-color: #333333;
    height:40px;
}

.header_img{
    width: 20%;
    height: 30px;;
    display:inline-block;
    margin: 0 auto;
    padding-left: 10%;
    padding-top: 3px;
    /* background-color: green;   */
    float: left;
}

.header_nav{
    padding-top: 10px;
    margin-left: auto;
    margin-right: 0;
    width:80%;
    height: auto;
/*  background-color: blue; */
}


main {
    padding-left: 10%;
    padding-right: 10%; 
}
body {
    margin: 0;
    background-image: url("topography.webp");
    font-family: 'Courier New', Courier, monospace
  }



h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h1 {
    color:black;
}

h2 {
    color:#ff0099;
}

h3 {
    font-size: x-large;
}

a {
    color:#ff0099;
}

.separ {
    font-size: xx-large;
    text-align: center;
}

.tech {
    text-align: center;
}